.footer__title {
  color: #545454;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  margin: 0;
}

@media screen and (max-width: 880px) {
  .footer__title {
    padding-left: 19px;
  }
}

@media screen and (max-width: 580px) {
  .footer__title {
    font-size: 14px;
    line-height: 16.94px;
  }
}
