.form__text {
  display: block;
  border: 0;
  width: 358px;
  margin: 0 auto;
  padding-top: 11.5px;
  padding-bottom: 11.5px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  font-family: inherit;
  margin-bottom: 19px;

}

.form__text::placeholder {
  font-size: 14px;
  line-height: 17px;
  font-family: inherit;
  color: #000;
}

.form__text:focus {
  outline: none;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}


@media screen and (max-width: 619px) {
  .form__text {
    width: 238px;
  }
}
