
/* normalize */
@import url('../vendor/normalize.css');
/* fonts */
@import url('../fonts/fonts.css');
/* page  */
@import url('../blocks/page/page.css');
/* header */
@import url('../blocks/header/header.css');
@import url('../blocks/header/__logo/header__logo.css');
/* popup */
@import url('../blocks/popup/popup.css');
@import url('../blocks/popup/_opened/popup_opened.css');
@import url('../blocks/popup/__container/popup__container.css');
@import url('../blocks/popup/__container/_avatar/popup__container_avatar.css');
@import url('../blocks/popup/__title/popup__title.css');
@import url('../blocks/popup/__title/_avatar/popup__title_avatar.css');
@import url('../blocks/popup/__button-closed/popup__button-closed.css');
@import url('../blocks/popup/__container-image/popup__container-image.css');
@import url('../blocks/popup/__image/popup__image.css');
@import url('../blocks/popup/__image-title/popup__image-title.css');
/* form */
@import url('../blocks/form/form.css');
@import url('../blocks/form/__button/form__button.css');
@import url('../blocks/form/__text/form__text.css');
/* profile */
@import url('../blocks/profile/profile.css');
@import url('../blocks/profile/__info/profile__info.css');
@import url('../blocks/profile/__avatar-container/profile__avatar-container.css');
@import url('../blocks/profile/__avatar/profile__avatar.css');
@import url('../blocks/profile/__name/profile__name.css');
@import url('../blocks/profile/__text/profile__text.css');
@import url('../blocks/profile/__description/profile__description.css');
@import url('../blocks/profile/__button-edit/profile__button-edit.css');
@import url('../blocks/profile/__button-add/profile__button-add.css');
@import url('../blocks/profile/__plus/profile__plus.css');
/* cards */
@import url('../blocks/cards/cards.css');
@import url('../blocks/cards/__card/cards__card.css');
@import url('../blocks/cards/__image/cards__image.css');
@import url('../blocks/cards/__bottom-panel/cards__bottom-panel.css');
@import url('../blocks/cards/__card/cards__card.css');
@import url('../blocks/cards/__name/cards__name.css');
@import url('../blocks/cards/__button/cards__button.css');
@import url('../blocks/cards/__like-container/cards__like-container.css');
@import url('../blocks/cards/__counter/cards__counter.css');
@import url('../blocks/cards/__button/_active/cards__button_active.css');
@import url('../blocks/cards/__button-delite/cards__button-delite.css');
@import url('../blocks/cards/__button-delite/_enabled/cards__button-delite_enabled.css');
/* footer */
@import url('../blocks/footer/footer.css');
@import url('../blocks/footer/__title/footer__title.css');

.form__text-error {
   position: absolute;
   top:45px;
   left: 36px;
   color: #FF0000;
   font-size: 12px;
   line-height: 15px;
   z-index: 2;
   max-width: 354px;
}

.form__input-container {
   position: relative;
   margin: 0;
}

.form__text_error {
   border-bottom: 1px solid #FF0000;
}

.form__text_error:focus {
   border-bottom: 1px solid #FF0000;
}